
input{
    width: 80%;
    margin-left: 122px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px 0px;
    font-size: 20px;
    text-align: center;
    background-color: #26252B;
    border: 1px solid #26252B;
    border-radius: 10px;
    color: #fff;
    outline: none;
}

input:focus{
    border: none;
}